.hero-image {
  width: 100%;
  background-image: url("../../assets/img/NUBE8970.JPG");
  background-position: center;
  background-size: cover;
}

.hero-image .centered {
  height: 500px;
  max-height: 100vw;
  position: relative;
}

.event-description,
.event-help {
  margin: 80px 0;
}

.event-description h3 {
  font-size: 34px;
  margin-bottom: 40px;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

.intro-container {
  position: absolute;
  padding: 30px 30px;
  left: 70px;
  font-size: 30px;
  color: white;

  top: 50%;
  transform: translateY(-50%);
}

.intro-container h1 {
  color: white;
  font-weight: 400;
}

.intro-container a {
  box-shadow: -1px 2px 10px 1px rgba(0, 0, 0, 0.3);
  background: #eb1751;
  font-size: 16px;
  padding: 12px 30px;
  border-radius: 7px;
  margin-top: 15px;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.hero-colored {
  background: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 700px) {
  .intro-container {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  .intro-container a {
    margin-top: 40px;
  }

  .event-description {
    margin: 40px 0;
  }

  .event-help {
    margin: 40px 0;
  }

  .event-description h3 {
    margin-bottom: 20px;
  }
}
