<div class="container">
  <div class="hero-image">
    <div class="centered">
      <div class="form-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="event-help centered">
    <div class="help-title">
      <h3>Jak założyć zbiórkę?</h3>
    </div>
    <div class="help-steps">
      <div class="help-step">
        <div class="step-number">
          <div class="bordered"><span>1</span></div>
        </div>
        <p>1. Zakładasz na naszej stronie zbiórkę związaną z twoim ślubem, urodzinami, rocznicą albo innym wydarzeniem
          organizowanym przez Ciebie lub kogoś innego. Wszystkie zebrane środki przechodzą na naszą organizację
          charytatywną albo wybranego przez Ciebie potrzebującego.</p>
      </div>

      <div class="help-step">
        <div class="step-number">
          <div class="bordered"><span>2</span></div>
        </div>
        <p>2. Poprzez dedykowany link udostępniasz zbiórkę znajomym, którzy w ramach zbiórki otrzymają certyfikat
          darczyńcy po dokonaniu wpłaty o dowolnej kwocie.</p>
      </div>

      <div class="help-step">
        <div class="step-number">
          <div class="bordered"><span>2</span></div>
        </div>
        <p>3. Podczas trwania zbiórki możesz sprawdzać ilość wpłat i łączną kwotę oraz pomożemy Tobie przygotować
          zaproszenia na twoje wydarzenie lub podziękowania dla wspierających gości.</p>
      </div>
    </div>
  </div>
</div>