.hero-image {
  width: 100%;
  min-height: 500px;
  background: url("../../assets/img/jim-dk-4558.jpg");
  background-size: cover;
  background-position: center;
  padding: 10px;
  box-sizing: border-box;
}

.form-container {
  background-color: #ebeff8;
  max-width: 400px;
  box-sizing: border-box;
  padding: 25px;
  width: 100%;
  left: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hero-image {
  position: relative;
}

.event-help {
  margin: 80px 0;
}

@media screen and (max-width: 700px) {
  .form-container {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .event-help {
    margin: 40px 0;
  }
}

@media screen and (max-width: 700px) {
  .form-container {
    position: static;
    width: 100%;
    transform: translate(0);
    max-width: 100%;
  }

  .hero-image {
    background-image: none;
    background-color: #ebeff8;
    padding: 20px 0;
    height: auto;
    min-height: 0;
  }
}
