<div class="footer">
  <div class="centered">
    <div class="footer_info">
      <div class="footer_address">
        <div>
        <p>Fundacja JiM</p>
        <p>Ul. Tatrzańska 105</p>
        <p>93-279 Łódź,Poland</p>
        </div>
      </div>

      <div class="footer_contact">
        <div>
          <p>Tel. <span style="color: #E41E51">+48 42 643 46 70</span></p>
          <p>KRS 0000127075</p>
          <p>Numer konta: 03 1030 1999 7750 0000 5200 0000</p>
        </div>
      </div>
    </div>

    <div class="footer_socialmedia">
      <ul>
        <li><a href="#"><img src="../../assets/img/ikona_facebooka.png" alt="facebook icon"></a></li>
        <li><a href="#"><img src="../../assets/img/ikona_instagrama.png" alt="instagram icon"></a></li>
        <li><a href="#"><img src="../../assets/img/ikona_youtubea.png" alt="youtube icon"></a></li>
        <li><a href="#"><img src="../../assets/img/ikona_twittera.png" alt="twitter icon"></a></li>
        <li><a href="#"><img src="../../assets/img/ikona_instagrama.png" alt="linkedin icon"></a></li>
      </ul>
    </div>
  </div>
</div>
