.description a {
  color: inherit;
  text-decoration: none;
  font-size: 22px;
}

.title {
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
}

.description h5 {
  margin-bottom: 15px;
}

.description p {
  font-size: 18px;
}

.description a:hover {
  color: rgb(105, 105, 105);
  transition-duration: 0.1s;
}

.events-list {
  margin: 30px 0;
}

.add-icon {
  display: flex;
  align-items: center;
}

.add-icon > a {
  background: #e41e52;
  width: 100px;
  height: 100px;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-right: 20px;
  box-shadow: -1px 2px 15px 1px rgba(0, 0, 0, 0.5);
}

.add-icon > a > span {
  width: 100%;
  height: 85%;
  font-size: 80px;
}

.events-list .event {
  display: flex;
  margin: 30px 0;
}

.image-wrapper {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.user-name {
  text-align: right;
}

.user-name p {
  display: inline-block;
  font-size: 18px;
  color: #949494;
  margin: 30px 0;
}

.add-icon .description h5 {
  margin-bottom: 0;
}

@media screen and (max-width: 700px) {
  .add-icon > a {
    width: 70px;
    height: 70px;
  }

  .add-icon > a > span {
    font-size: 55px;
  }

  .image-wrapper {
    width: 70px;
    height: 70px;
  }
}
