.register {
  font-size: 16px;
  margin: 25px 0 5px;
}

.register a {
  font-weight: bold;
  color: inherit;
}
label {
  display: block;
  font-size: 15px;
  font-weight: bold;
  color: rgb(77, 77, 75);
  margin: 9px 0;
}

input {
  display: block;
  width: 100%;
  font-size: 12px;
  padding: 7px;
  border: 1px solid#ced2dc;
  border-radius: 3px;
  box-sizing: border-box;
}

.alert-danger {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

::placeholder {
  color: rgb(165, 165, 165);
}

button {
  display: block;
  margin: 8px auto;
  min-width: calc(100% - 20px);
  border: 0;
  background: #eb1751;
  padding: 9px 0;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.3);
}

button:disabled {
  background: #d5d5d5;
}
