<div class="event-form">
    <h3>Wspomóż aukcję</h3>

    <form (ngSubmit)="onSubmit()" #donateForm="ngForm" #donateFormElement>
        <!-- email  -->
        <div class="form-group">
            <label for="email">E-mail</label>
            <input placeholder="Wpisz e-mail" type="text" class="form-control" id="email" required [(ngModel)]="model.email"
                name="email" #email="ngModel" email>
        </div>

        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
            <div *ngIf="email.errors.required">
                Adres email jest wymagany
            </div>
            <div *ngIf="email.errors.email">
                Wpisz poprawny adres email
            </div>
        </div>

        <!-- name  -->
        <div class="form-group">
            <label for="name">Imię</label>
            <input placeholder="Wpisz imię" type="text" class="form-control" id="name" required [(ngModel)]="model.name"
                name="name" #name="ngModel">
        </div>

        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
            <div *ngIf="name.errors.required">
                Imię jest wymagane
            </div>
        </div>

        <!-- surname  -->
        <div class="form-group">
            <label for="surname">Nazwisko</label>
            <input placeholder="Wpisz nazwisko" type="text" class="form-control" id="surname" required [(ngModel)]="model.surname"
                name="surname" #surname="ngModel">
        </div>

        <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="alert alert-danger">
            <div *ngIf="surname.errors.required">
                Nazwisko jest wymagane
            </div>
        </div>

        <!-- amount of money  -->
        <div class="form-group">
            <label for="surname">Suma pieniędzy</label>
            <input type="number" class="form-control" id="amount" required [(ngModel)]="model.amount" name="amount"
                #amount="ngModel" min=10 step=5>
        </div>

        <div *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="alert alert-danger">
            <div *ngIf="amount.errors.required">
                Nazwisko jest wymagane
            </div>
        </div>

        <!-- motive -->
        <div class="form-group motive-group">
            <p>Wybierz szablon certyfikatu do wydrukowania</p>
            <div class="inputs">
                <div class="input" *ngFor="let motive of motives; let i = index">
                    <input type="radio" name="motive" id="m-{{motive.id}}" value={{motive.id}} checked *ngIf="i === 0"
                        [(ngModel)]="model.MotivesId">
                    <input type="radio" name="motive" id="m-{{motive.id}}" value={{motive.id}} *ngIf="i !== 0"
                        [(ngModel)]="model.MotivesId">
                    <label for="m-{{motive.id}}">
                        <img src={{motive.picUrl}} />
                    </label>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!donateForm.form.valid">Wpłać</button>
    </form>

    <div #paymentHolder id="payment-holder">procesowanie płatności, czekaj na przekierowanie</div>
    <div #confirmationHolder id="confirmation-holder">wpłata przekazana</div>
</div>