/* .motive-group label {
  width: 280px;
  height: 350px;
  overflow: hidden;
  position: relative;
  display: inline-block;
}

.motive-group label img {
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.motive-group .input {
  display: inline-block;
}

.motive-group label {
  cursor: pointer;
  margin: 5px;
}

.motive-group p {
  cursor: pointer;
  margin: 5px;
}

.motive-group .input input {
  display: none;
}*/

.motive-group input:checked + label {
  box-shadow: 0px 0px 4px 4px #557ead;
  border: 0;
}

h3 {
  margin-bottom: 20px;
  text-align: center;
}
