h3 {
  text-align: center;
  margin-bottom: 40px;
}

.steps {
  margin-bottom: 20px;
  display: flex;
}

.step-wrapper {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #9c9c9c;
  display: flex;
  align-items: center;
  color: white;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

.active .step-wrapper {
  background: #eb1751;
}

.active .subtitle {
  color: #eb1751;
}

.step span {
  width: 100%;
  text-align: center;
}

.step {
  margin-right: 62px;
}

.step:after {
  content: "";
  display: block;
  background: #c0c0c0;
  height: 1px;
  width: 40px;
  position: relative;
  top: -44px;
  left: 60px;
}

.step:last-of-type {
  margin-right: 0;
}

.step:last-of-type:after {
  display: none;
}

.checkbox label,
.checkbox input {
  display: inline-block;
}

.checkbox input {
  width: 20px;
}

.subtitle {
  font-size: 14px;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.steps-centered {
  display: inline-block;
}
.steps-wrapper {
  text-align: center;
}

.loading {
  width: 220px;
  height: 220px;
  /* position: relative; */
  overflow: hidden;
  margin: 0 auto;
  display: none;
}

.loading.visible {
  display: block;
}

.not-visible {
  display: none;
}

.loading-icon {
  display: block;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.loading-icon:nth-of-type(2) {
  height: 100%;
  display: none;
}

.loading.loaded .loading-icon:nth-of-type(1) {
  display: none;
}
.loading.loaded .loading-icon:nth-of-type(2) {
  display: block;
}

.see-event {
  display: none;
}

.see-event.loaded {
  display: block;
}

@media screen and (max-width: 700px) {
}
