<div class="event-form">
  <h3>Stwórz wydarzenie</h3>

  <div class="steps-wrapper">
    <div class="steps-centered">
      <div class="steps" #steps>
        <div class="step active">
          <div class="step-wrapper"><span>1</span>
          </div>
          <span class="subtitle">Krok 1</span>
        </div>
        <div class="step">
          <div class="step-wrapper"><span>2</span></div><span class="subtitle">Krok 2</span>
        </div>
      </div>
    </div>
  </div>
  <form #createEventFormElement #createEventForm="ngForm" (ngSubmit)="onFormSubmit()">
    <div class="form-group">
      <label for="name">Nazwa uroczystości</label>
      <input placeholder="Wpisz nazwę uroczystości" type="text" class="form-control" id="name" required [(ngModel)]="model.title"
        name="name" #name="ngModel">
    </div>

    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
      <div *ngIf="name.errors.required">
        Nazwa uroczystości jest wymagana
      </div>
    </div>

    <div class="form-group">
      <label placeholder="Wpisz datę zakończenia" for="date">Data zakończenia uroczystości</label>
      <input type="date" class="form-control" id="date" required [(ngModel)]="model.date" name="date" #date="ngModel">
    </div>

    <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert alert-danger">
      <div *ngIf="date.errors.required">
        Data uroczystości jest wymagana
      </div>
    </div>

    <div class="form-group">
      <label for="text">Opis uroczystości</label>
      <textarea class="form-control" id="text" required [(ngModel)]="model.text" name="text" #text="ngModel"></textarea>
    </div>

    <div *ngIf="text.invalid && (text.dirty || text.touched)" class="alert alert-danger">
      <div *ngIf="text.errors.required">
        Opis uroczystości jest wymagany
      </div>
    </div>

    <div class="form-group checkbox">
      <label for="certificate">Czy wygenerować zaproszenie na uroczystość?</label>
      <input type="checkbox" class="form-control" id="certyficate" [(ngModel)]="model.certificate" name="certificate"
        #certificate="ngModel">
    </div>

    <div class="form-group">
      <label for="link">Link do uroczystości</label>
      <input placeholder="Wpisz link do uroczystości" type="link" class="form-control" id="link" required [(ngModel)]="model.link"
        name="link" #link="ngModel">
    </div>

    <div *ngIf="link.invalid && (link.dirty || link.touched)" class="alert alert-danger">
      <div *ngIf="link.errors.required">
        Link uroczystości jest wymagany
      </div>
    </div>

    <!-- goal -->
    <div class="form-group motive-group">
      <p>Wybierz cel zbiórki</p>
      <div class="inputs">
        <div class="input" *ngFor="let goal of goals; let i = index">
          <input type="radio" name="goal" id="g-{{goal.id}}" value={{goal.id}} checked *ngIf="i === 0" [(ngModel)]="model.goalId">
          <input type="radio" name="goal" id="g-{{goal.id}}" value={{goal.id}} *ngIf="i !== 0" [(ngModel)]="model.goalId">
          <label for="g-{{goal.id}}">
            <p>{{goal.title}}</p>
            <img src={{goal.goalPicUrl}} />
          </label>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!createEventForm.form.valid">Dalej</button>

  </form>
  <form #addEventPhotoFormElement #addEventPhotoForm="ngForm" (ngSubmit)="onDocumentSubmit()">
    <label for="document">Wybierz zdjęcie wydarzenia</label>
    <input #fileInput type="file" id="document" #select name="document" required />
    <button id="buttonSubmit" type="submit" class="btn btn-success" [disabled]="!addEventPhotoForm.form.valid">Utwórz
      uroczystość</button>

    <div class="loading" #loading>
      <img class="loading-icon" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" />
      <img class="loading-icon" src="https://image.flaticon.com/icons/svg/60/60731.svg" />
    </div>

    <div class="see-event" #seeEvent>
      <p class="register">Zobacz uroczystość: <a routerLink="/event/{{model.link}}">{{model.link}}</a></p>
    </div>
  </form>
</div>
<!-- <input  #fileInput type="file" #select name="document" [(ngModel)]="document" />
<button (click)="onDocumentSubmit()" [disabled]="!createEventForm.form.valid" >Utwórz wydarzenie</button> -->